.create-session-form {
    border: 3px solid #9CDDDB;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the left */
    max-width: 100%;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.session-form-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px; /* Space between the inputs */
}

.session-form-input > * {
    flex: 1; /* Make each input take up equal space */
}

.create-session-button, .cancel-matching-button {
    align-self: flex-end;
}

span.loading-section, span.error-message {
    font-size: 30px;
    font-weight: bold;
}


