.login-form-header {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    font-weight: 700;
}

.password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 45%;
    right: 15px;
}