.signup-form {
    background-color: rgba(31, 127, 126, 0.10);
    padding: 15px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%; /* Ensure the form container doesn't exceed its parent */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin: auto;
    display: flex;
    flex-direction: column;
    
    form {
        display: flex;
        flex-direction: column;
        width: 100%; /* Ensure the form uses full width of container */
    }
}

.signup-form-header {
    margin: 5px 0px 0px 0px;
    font-size: 25px;
    font-weight: 700;
}


.password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 45%;
    right: 15px;
}