.App {
  min-height: 100vh;
  background: #0A1515;
  color: #FFF;
}
body, html {
  font-family: 'Roboto', sans-serif;
}
button, .button {
  border-radius: 50px;
  border: 2px solid;
  background-color: #9CDDDB;
  display: flex;
  width: 300px;
  height: 45px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 10px 10px 10px 0px;
}

a {
  text-decoration: none;
  color: black;
}


